@import "tailwindcss";

@layer components {

    .errortag {
        @apply fixed backdrop-brightness-15 opacity-0 top-1/2 -translate-y-1/2 animate-[drop-fade_5s_ease-in-out] text-white text-sm max-w-full py-1 px-2 z-50 left-1/2 text-nowrap -translate-x-1/2;
    }

}

@theme {
    --animate-drop-fade: drop-fade 5s ease-in-out;

    @keyframes drop-fade {
        0% {
            opacity: 0;
            top: -50%;
        }

        1% {
            opacity: 0;
            top: 50%;
        }

        3% {
            opacity: 1;
            top: 50%
        }

        99% {
            opacity: 0;
            top: 50%;
        }

        100% {
            opacity: 0;
            top: -50%;
        }
    }
}

@layer base {
    @font-face {
        font-family: "main-font";
        src: url("/fonts/fa-num/iran-yekan-300.eot");
        src: url("/fonts/fa-num/iran-yekan-300.eot?#iefix") format("embedded-opentype"),
            url("/fonts/fa-num/iran-yekan-300.woff2") format("woff2"),
            url("/fonts/fa-num/iran-yekan-300.woff") format("woff"),
            url("/fonts/fa-num/iran-yekan-300.ttf") format("truetype");
        font-weight: 300;
    }

    @font-face {
        font-family: "main-font";
        src: url("/fonts/fa-num/iran-yekan-400.eot");
        src: url("/fonts/fa-num/iran-yekan-400.eot?#iefix") format("embedded-opentype"),
            url("/fonts/fa-num/iran-yekan-400.woff2") format("woff2"),
            url("/fonts/fa-num/iran-yekan-400.woff") format("woff"),
            url("/fonts/fa-num/iran-yekan-400.ttf") format("truetype");
        font-weight: 400;
    }

    @font-face {
        font-family: "main-font";
        src: url("/fonts/fa-num/iran-yekan-500.eot");
        src: url("/fonts/fa-num/iran-yekan-500.eot?#iefix") format("embedded-opentype"),
            url("/fonts/fa-num/iran-yekan-500.woff2") format("woff2"),
            url("/fonts/fa-num/iran-yekan-500.woff") format("woff"),
            url("/fonts/fa-num/iran-yekan-500.ttf") format("truetype");
        font-weight: 500;
    }

    @font-face {
        font-family: "main-font";
        src: url("/fonts/fa-num/iran-yekan-700.eot");
        src: url("/fonts/fa-num/iran-yekan-700.eot?#iefix") format("embedded-opentype"),
            url("/fonts/fa-num/iran-yekan-700.woff2") format("woff2"),
            url("/fonts/fa-num/iran-yekan-700.woff") format("woff"),
            url("/fonts/fa-num/iran-yekan-700.ttf") format("truetype");
        font-weight: 700;
    }

    @font-face {
        font-family: "main-font-en";
        src: url("/fonts/en-num/iran-yekan-300.eot");
        src: url("/fonts/en-num/iran-yekan-300.eot?#iefix") format("embedded-opentype"),
            url("/fonts/en-num/iran-yekan-300.woff2") format("woff2"),
            url("/fonts/en-num/iran-yekan-300.woff") format("woff"),
            url("/fonts/en-num/iran-yekan-300.ttf") format("truetype");
        font-weight: 300;
    }

    @font-face {
        font-family: "main-font-en";
        src: url("/fonts/en-num/iran-yekan-400.eot");
        src: url("/fonts/en-num/iran-yekan-400.eot?#iefix") format("embedded-opentype"),
            url("/fonts/en-num/iran-yekan-400.woff2") format("woff2"),
            url("/fonts/en-num/iran-yekan-400.woff") format("woff"),
            url("/fonts/en-num/iran-yekan-400.ttf") format("truetype");
        font-weight: 400;
    }

    @font-face {
        font-family: "main-font-en";
        src: url("/fonts/en-num/iran-yekan-500.eot");
        src: url("/fonts/en-num/iran-yekan-500.eot?#iefix") format("embedded-opentype"),
            url("/fonts/en-num/iran-yekan-500.woff2") format("woff2"),
            url("/fonts/en-num/iran-yekan-500.woff") format("woff"),
            url("/fonts/en-num/iran-yekan-500.ttf") format("truetype");
        font-weight: 500;
    }

    @font-face {
        font-family: "main-font-en";
        src: url("/fonts/en-num/iran-yekan-700.eot");
        src: url("/fonts/en-num/iran-yekan-700.eot?#iefix") format("embedded-opentype"),
            url("/fonts/en-num/iran-yekan-700.woff2") format("woff2"),
            url("/fonts/en-num/iran-yekan-700.woff") format("woff"),
            url("/fonts/en-num/iran-yekan-700.ttf") format("truetype");
        font-weight: 700;
    }
}

@theme {
    --color-blue-800: #28579d;
    --color-blue-900: #28579d;
    --color-orange-400: #fd8834;
}








html * {
    font-family: "main-font-en";
}

/* فقط برای فارسی */
html[lang="fa"] * {
    font-family: 'main-font';
}

button,
input,
select {
    @apply appearance-none outline-none;
}

.custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.custom-checkbox:checked {
    background-color: #2563eb;
    /* رنگ پس‌زمینه تیک‌خورده */
    border-color: #2563eb;
}

.custom-checkbox:checked::before {
    content: '✔';
    /* تیک داخل چک‌باکس */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}

.custom-checkbox:checked:hover {
    background-color: #2563eb;
    /* رنگ تیک‌خورده در حالت hover */
}

.loader2 {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #28579d;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #28579d;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 15s linear infinite;
}

textarea {
    outline: none;

    resize: none;

    font: inherit;

    transition: all 0.3s ease;

}

table.content-table {
    border-collapse: collapse;
    max-width: 10px;
    overflow-x: hidden;
}

table.content-table th,
table.content-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: right;
}

#desc {
    text-wrap: wrap;

}